# CODEOWNERS - EduRev Rwanda
# These owners will be automatically requested for review when a PR modifies matching files.

# Default owners for everything in the repo
* @IrakozeLoraine @Ninette03 @JOHN-KWIZERA @AngeNicole
